.login-div {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: #999595;
    /* ce40d1 */
    height: 70%;
    width: 30%;
    margin: 15px auto !important;
}

  .logo{
    width: 60%;
  }

 .buttonLogin{
       width: 100%; 
       height: 50%;
 }
    
      
