.post__headerLeft{
    display: flex;
}
.post__profilePic{
    height: 25px;
    border-radius: 0px;
}
.post__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: groove;
}
.post{
    background-color: whitesmoke;
    max-width: 900px;
    width: 90vw;
    padding: 16px;
}

.post__center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.profile{
    display: flex;
    width: 100%;
    background-color: gray;
    
}

.profile__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like_but{
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.report_but{
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.report_but:focus{
    outline: none;
}

.follow_but{
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.follow_but:focus{
    outline: none;
    background-color: red;
}
.like_but:focus{
    outline: none;
    background-color: red;
}
.dislike_but{
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.dislike_but:focus{
    outline: none;
    background-color: red;
}
.postImg{
    width: 100%;
    margin: 8px 0px;
}

.profileImg{
    width: 0%;
    margin: 8px 0px;
}

.post__body{
    border-bottom-style: groove;
    background-color: white;
}

.comment_input{
    display: flex;
    justify-content: space-between;
}

.comment_textarea{
    border: none;
    width: 100%;
    resize: none;
}

.comment_textarea:focus{
    outline: none;
}

.comment_but{
    background-color: white;
    border: none;
}